:root {
  --color-base-bg: #1b1a17;
  --color-light-bg: #1f1e1b;
  --color-pri-text: #f0e3ca;
  --color-title-text: #ff8303;
  --color-base-bg-transp: #1f1e1bf7;
  --input-shadows: rgba(163, 163, 163, 1);
  --font-family: 'Inconsolata', monospace;
  --font-family-logo: 'Anton', sans-serif;
  --font-family-logo-sec: 'Inter', sans-serif;
  --p-size: 1rem;
  --p-size-small: 0.1rem;
  --header-height: 5rem;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--color-pri-text);
  background-color: var(--color-base-bg);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1 {
  font-family: var(--font-family);
  color: var(--color-title-text);
  font-weight: 900;
  font-size: 64px;
  line-height: 25px;
}

h2 {
  font-family: var(--font-family);
  color: var(--color-title-text);
  font-weight: 900;
  font-size: calc(var(--p-size) + 4vw);
  line-height: calc(var(--p-size) + 3vw);
}

h3 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: calc(var(--p-size) + 2vw);
  line-height: calc(var(--p-size) + 3vw);
}

h4 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: calc(var(--p-size) + 2vw);
  color: var(--color-title-text);
  margin: 2rem 0 0.2rem 0;
  text-align: center;
}

h5 {
  text-align: center;
  font: var(--font-family);
  font-size: calc(var(--p-size) + 0.5vw);
  margin: 1rem 0 0.5rem 0;
}

a {
  text-decoration: none;
  color: var(--color-pri-text);
}

img {
  max-width: 100%;
  height: auto;
}

textarea {
  width: 100%;
  color: var(--color-pri-text);
  background-color: var(--color-bg-base);
  border: 1px solid var(--color-pri-text);
  border-bottom: 1px solid var(--color-pri-text);
  border-radius: 3px;
  line-height: 15px; /*para asegurarnos de que el texto este centrado verticalmente respecto al height */
  padding: 0 40px 0 10px;
}

.presentation-container p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: calc(var(--p-size) + 1vw);
  line-height: calc(var(--p-size) + 1vw);
  text-align: justify;
}

.opacity {
  color: var(--color-sec-text);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: var(--header-height);
  background-color: var(--color-base-bg);
  z-index: 999;
}

.menu-btn {
  color: var(--color-pri-text);
  border: none;
  padding: 0 1rem 0 0;
  background-color: transparent;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.logo-symbol {
  color: var(--color-title-text);
  font-family: var(--font-family-logo-sec);
  font-weight: 600;
}

.logo {
  font-family: var(--font-family-logo);
  font-size: calc(1.5rem + 1.5vw);
  font-weight: 400;
  line-height: 1.56rem;
  padding: 0 0 0 1rem;
}

.orange {
  color: var(--color-title-text);
  font-family: var(--font-family-logo);
}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  opacity: 0;
  left: 0;
  top: var(--header-height);
  width: 100%;
  pointer-events: none;
  transition: opacity 0.6s ease;
}

.container-svg {
  cursor: pointer;
}

.container-svg svg {
  fill: var(--color-pri-text);
}

.navbar-active {
  opacity: 1;
  pointer-events: auto;
}

.none {
  display: none;
}

.navbar a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.container {
  min-height: 100vh;
}

.container-headline {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  letter-spacing: 0.025em;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 4rem 0 0 0;
}

.container-profile {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 28.1rem;
  max-height: 43vh;
}

.container-profile > div {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.container-profile img {
  width: 75%;
}

.container-profile p {
  font: calc(var(--p-size-small) + 2vw)/var(--p-size-small);
  overflow: hidden;
  color: rgba(163, 87, 9, 0.5);
  width: 90%;
  text-align: left;
}

.presentation-container {
  width: 80%;
  text-align: center;
}

.about-me {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-bg);
  width: 100%;
  padding-top: 10%;
  padding-bottom: 7%;
  border-top: solid 4rem var(--color-base-bg);
  border-bottom: solid 1px var(--color-base-bg);
}

.about-me p {
  font: calc(var(--p-size) + 1vw) var(--font-family);
  width: 80%;
  text-align: left;
}

.title-section {
  color: var(--color-title-text);
  text-align: center;
}

.works,
.my-skills {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-base-bg);
  width: 100%;
  margin-top: 3rem;
}

.skill {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  box-sizing: border-box;
  font-size: calc(var(--p-size) + 1vw);
  padding-left: 2rem;
  width: 75%;
  height: 4.5rem;
  background-color: var(--color-light-bg);
  border-radius: 6px;
  margin-top: 1rem;
}

.skill div {
  width: 2.5rem;
}

.work-info div {
  display: flex;
  width: 100%;
}

.skill div:last-child {
  display: none;
}

.work-card {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  justify-content: center;
  width: 80%;
  max-width: 23.7rem;
  min-width: 15rem;
  max-height: 23.7rem;
  min-height: 15rem;
  margin: 1rem 0 1rem 0;
}

.container-project {
  position: relative;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  max-width: 23.7rem;
  min-width: 15rem;
  max-height: 23.7rem;
  min-height: 15rem;
  border: 2px solid var(--color-base-bg-transp);
}

.work-card img {
  width: 100%;
  height: 100%;
  object-position: bottom;
  object-fit: cover; /* in the case of non-square images */
  user-select: none;
}

.work-info {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  z-index: 99;
  pointer-events: auto;
  background-color: var(--color-base-bg-transp);
  width: 100%;
  height: 100%;
  min-width: 15rem;
  max-width: 23.7rem;
  min-height: 15rem;
  max-height: 23.7rem;
  font: var(--font-family);
  opacity: 1;
}

.works > div > div .text {
  width: 80%;
  text-align: left;
  font-size: calc(var(--p-size));
  min-height: 4vh;
  overflow: hidden;
  margin: 1rem 1rem;
}

.work-info button,
.btn__form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 56px;
  color: var(--color-pri-text);
  font: 600 var(--font-family) calc(var(--p-size) + 1vw)/var(--p-size);
  text-align: center;
  background-color: #32312e;
  border-radius: 6px;
  border-color: transparent;
  padding: 1rem;
  margin: 1rem;
}

.line {
  border-top: 1px solid var(--color-title-text);
  height: 1px;
  max-width: 70%;
  padding: 0;
  text-align: center;
}


.form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font: calc(var(--p-size)  + 1vw);
  width: 100%;
  box-sizing: border-box;
}

.group__form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
}

.group__form-btn-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.label__form {
  display: block;
  font-weight: 700;
  padding: 0.7rem;
  cursor: pointer;
}

.group-input__form {
  position: relative;
  width: 100%;
}

.input__form {
  width: 100%;
  color: var(--color-pri-text);
  background-color: var(--color-bg-base);
  border: 3px solid transparent;
  border-bottom: 1px solid var(--color-pri-text);
  border-radius: 3px;
  height: 45px;
  line-height: 15px; 
  padding: 0 40px 0 10px;
}

.input-error__form {
  display: none;
}

.input__form:focus {
  border: 3px solid var(--color-title-text);
  outline: none;
  box-shadow: 3px 0 15px rgba(163, 163, 163, 0.4);
}

textarea:focus {
  border: 3px solid var(--color-title-text);
  outline: none;
  box-shadow: 3px 0 30px rgba(163, 163, 163, 0.4);
  width: 100%;
}

.validation-state__form {
  position: absolute;
  right: 10px; /* Position from right to left */
  bottom: 15px;
  z-index: 1000;
  font-size: 1em;
  opacity: 0; /* It doesn't show until I want to */
}

.message__form {
  display: none;
}

.submit-success__form {
  display: none;
}

.btn__form:hover {
  box-shadow: 3px 0 30px var(--input-shadows);
}

.work-card:hover .work-info {
  opacity: 0;
  pointer-events: none;
}

.skill:hover div:last-child {
  display: block;
}

.skill:hover div:first-child {
  display: none;
}

.navbar a:hover {
  color: var(--color-pri-text);
  background-color: var(--color-btn-bg);
}

.menu-btn:active {
  transform: rotate(360deg);
}
